@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

html {
  scrollbar-gutter: stable;
}

html:has(body[data-scroll-locked]) {
  scrollbar-gutter: auto;
}

@keyframes blobFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --color-fd-background: #151515;
}

.dark {
  --color-fd-background: #151515;
}

body {
  background-color: #151515 !important;
}

/* Desktop sidebar */
#nd-sidebar {
  background-color: rgba(21, 21, 21, 0.6) !important;
  backdrop-filter: blur(32px) !important;
  -webkit-backdrop-filter: blur(32px) ;
}

/* Mobile sidebar drawer */
[data-state="open"][class*="bg-fd-background"] {
  background-color: rgba(21, 21, 21, 0.85) !important;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

/* Top navbar */
header:has(nav) {
  background-color: rgba(21, 21, 21, 0.6) !important;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}

/* Sub-navigation (mobile) */
#nd-subnav {
  background-color: rgba(21, 21, 21, 0.6) !important;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
}
